[defaults]
private_key_file    = /opt/ansible/.ssh/worker_ed25519
inventory           = ./hosts.ini
host_key_checking   = False
log_path            = ./log/ansible.log
vault_password_file = /opt/ansible/.ansible_vault_pw
